* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  background-color: rgb(32, 9, 95);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h3 {
  text-align: center;
  margin: 15px;
  font-size: 49px;
  color:whitesmoke;
}

h1 {
  text-align: center;
  background-color: gold;
}

hr {
  font-weight: bold;
  height: 3px;
  background: rgb(238, 255, 0);
  margin-bottom: 10px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 60px;
  background: limegreen;
}


.currentPlayer {
  background-color: gold;
}

